/* src/styles/About.css */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.about {
  font-family: "Outfit", sans-serif;
  padding: 100px 20px; /* Adjust for fixed header */
  background: #f4f4f4;
  color: #333;
  text-align: center;
}

.about h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}
