/* src/styles/Certifications.css */

.certifications {

  padding: 20px 20px;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.certifications h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: 400;
  color: #fff;
}

.certifications-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.certification {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 900px;
  text-align: left;
    transition: box-shadow 0.3s ease-in-out;

}

.certification:hover {
    box-shadow: 0 0 10px rgba(97, 218, 251, 0.6);


}

.certification h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
}

.certification p {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .certifications-list {
    padding: 0 10px;
  }

  .certification {
    width: 100%;
  }
}

.viewBtn {
  width: 80px;
  background-color: #391fcc;
  border-radius: 25px;
}

.viewBtn a {
  color: white;
}

.viewBtn a:hover {
  background-color: green;

}

